$font-stack: Arial, sans-serif;
$primary-color: #3498db;
$background-color: #f4f4f4;
$input-border-color: #ccc;
$input-focus-border-color: $primary-color;
$button-background: $primary-color;
$button-hover: darken($primary-color, 10%);
$button-text-color: #fff;

body {
    font-family: $font-stack;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title {
    position: relative;
    bottom: 16rem;
    left: 22rem;
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-right: 10rem;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: $primary-color;
        text-align: center;

    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: darken($primary-color, 15%);
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid $input-border-color;
        border-radius: 3px;
        transition: border-color 0.3s;

        &:focus {
            border-color: $input-focus-border-color;
            outline: none;
        }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: $button-background;
        color: $button-text-color;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $button-hover;
        }
    }
}